USE [master]
GO
/****** Object:  Database [platecutting]    Script Date: 16/03/2023 13:08:06 ******/
CREATE DATABASE [platecutting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'platecutting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\platecutting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'platecutting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\platecutting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [platecutting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [platecutting]
GO
/****** Object:  User [user]    Script Date: 16/03/2023 13:08:06 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[db_owner]
GO
/****** Object:  User [admin]    Script Date: 16/03/2023 13:08:06 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[plate]    Script Date: 16/03/2023 13:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plate](
	[id] [varchar](50) NOT NULL,
	[plate] [varchar](50) NOT NULL,
	[berat] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[platecutting]    Script Date: 16/03/2023 13:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[platecutting](
	[id] [varchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[line] [varchar](50) NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[id_plateinput] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plateinput]    Script Date: 16/03/2023 13:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plateinput](
	[id] [varchar](50) NOT NULL,
	[id_platecutting] [varchar](50) NOT NULL,
	[plate] [varchar](50) NOT NULL,
	[hasil_produksi] [varchar](50) NULL,
	[terpotong_panel] [float] NULL,
	[tersangkut_panel] [float] NULL,
	[overbrush_panel] [float] NULL,
	[rontok_panel] [float] NULL,
	[lug_patah_panel] [float] NULL,
	[patah_kaki_panel] [float] NULL,
	[patah_frame_panel] [float] NULL,
	[bolong_panel] [float] NULL,
	[bending_panel] [float] NULL,
	[lengket_terpotong_panel] [float] NULL,
	[terpotong_kg] [float] NULL,
	[tersangkut_kg] [float] NULL,
	[overbrush_kg] [float] NULL,
	[rontok_kg] [float] NULL,
	[lug_patah_kg] [float] NULL,
	[patah_kaki_kg] [float] NULL,
	[patah_frame_kg] [float] NULL,
	[bolong_kg] [float] NULL,
	[bending_kg] [float] NULL,
	[lengket_terpotong_kg] [float] NULL,
	[persentase_reject_internal] [varchar](50) NULL,
	[persentase_reject_eksternal] [varchar](50) NULL,
	[persentase_reject_akumulatif] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team]    Script Date: 16/03/2023 13:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[id] [varchar](50) NOT NULL,
	[team] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[plate] ([id], [plate], [berat]) VALUES (N'1', N'CG79POS', 0.3161)
INSERT [dbo].[plate] ([id], [plate], [berat]) VALUES (N'2', N'CG79POS-UF', 0.3161)
INSERT [dbo].[plate] ([id], [plate], [berat]) VALUES (N'4', N'CG80POS-UF
', 0.28215)
GO
INSERT [dbo].[platecutting] ([id], [date], [line], [shift], [id_plateinput]) VALUES (N'2', CAST(N'2023-03-02' AS Date), N'1', N'1', N'2')
INSERT [dbo].[platecutting] ([id], [date], [line], [shift], [id_plateinput]) VALUES (N'3', CAST(N'2023-03-04' AS Date), N'1', N'1', N'3')
INSERT [dbo].[platecutting] ([id], [date], [line], [shift], [id_plateinput]) VALUES (N'4', CAST(N'2023-03-04' AS Date), N'1', N'2', N'4')
GO
INSERT [dbo].[team] ([id], [team]) VALUES (N'1', N'AGUNG. K')
INSERT [dbo].[team] ([id], [team]) VALUES (N'2', N'ASEP DIDING')
INSERT [dbo].[team] ([id], [team]) VALUES (N'3', N'HARIS SUKISNO')
GO
USE [master]
GO
